/*loding页面居中*/
.loding-wapper{
  text-align: center;
  padding:200px;
}
/* 上传背景图 */
.max-loader .ant-upload.ant-upload-select-picture-card{
  width: 1000px;
  height: 250px;
}
.ysy-text-overflow{
  width: 270px;
  max-width: 270px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
.ysy-subMneu-Item{
  padding-left: 20px !important;
  margin: 0 !important;
}
.ysy-menu-Item{
  margin: 0 !important;
}
.ysy-menu-Item .ant-menu-submenu-title{
  height: 54px !important;
  line-height: 54px !important;
  margin: 0 !important;
}
.ysynet-siderMenu-noborder .ant-menu-inline{
  border-right: none;
}
.ysynet-collapsed:hover {
  background-color: #e6f7ff;
}
.ysyenert-header-icon:hover {
  cursor: pointer;
}
.ysyenert-header-icon {
  padding: 20px 12px;
  height: 100%;
  font-size: 20px;
}
.ant-btn{
  padding: 0 16px !important;
}
.ant-row-bottom{
  margin-bottom: 24px;
}
.ant-table-body .ant-table-thead> tr{
  height: 40px;
}
.ant-table-body .ant-table-thead > tr > th, .ant-table-content .ant-table-fixed-right .ant-table-thead > tr > th{
  font-weight: bold;
  padding-left: 16px !important;
}
.ant-table-thead > tr > th, .ant-table-tbody > tr > td{
  padding: 0 !important;
}
.ant-table-body .ant-table-tbody> tr{
  height: 36px;
}
.ant-table-tbody .ant-table-tbody .ant-table-row >td, .ant-table-content .ant-table-fixed-right .ant-table-tbody > tr > td{
  padding: 0 0 0 16px !important;
}
.ant-table-body .ant-table-tbody> tr> td:not(.ant-table-selection-column){
  padding: 6px 8px 6px 16px !important;
}
.ant-layout-content{
  padding: 0 16px;
}
.ant-layout-header{
  margin-left:-16px;
  margin-right:-16px;
}
.ant-tabs .ant-tabs-bar{
  margin: 0 0 24px 0;
}
.ant-menu-item .menuNode_tool {
  display: none;
}
.ant-menu-item:hover .menuNode_tool{
  display: inline-block;
  padding-top: 4px;
  margin-left: 12px;
}
.ant-menu-submenu-title{
  padding-left:  24px !important; 
}
.logo {
  display: inline-block;
  vertical-align: middle;
  height: 32px;
}

.logoDesc {
  color: #f2a11c;
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  margin: 0 0 0 12px;
  font-family: 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.logoWrapper {
  height: 61px;
  position: relative;
  /* background-color: #fff; */
  color: #000;
  line-height: 64px;
  padding-left: 24px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  overflow: hidden;
  border-bottom: 3px solid #f0f2f5;
}

/*lable显示文字时 left*/
.ant-form-item-label-left{
  text-align: left;
  vertical-align: bottom;
  line-height: 39px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}
.ant-form-item-label-left:after{
    content: ":";
    margin: 0 8px 0 2px;
    position: relative;
    top: -0.5px;
}
/* 
  Modal footer 居中
*/
.ysynet-ant-modal .ant-modal-body{
  background-color: #f0f2f5;
}
.ant-modal-center-footer .ant-modal-footer{
  text-align: center;
}
.ant-modal-header .ant-modal-title{
  font-weight: bold;
}
.ysynet-ant-modal .ysynet-transfer{
  display: flex;
  background: #fff;
  padding: 16px 0px;
}
.ysynet-ant-transfer .ant-transfer-list-header .ant-transfer-list-header-selected span:first-child{
  position: absolute;
  right: 12px;
}
.ysynet-ant-transfer .ant-transfer-list-header .ant-transfer-list-header-selected span.ant-transfer-list-header-title{
  left: 40px;
}
.ysynet-transfer .ysynet-transfer-header{
  display: flex;
  justify-content: space-between;
  padding: 8px 16px 8px 32px;
  border-bottom: solid 1px #ddd;
}
.ysysnet-accredit-subMenu{
  padding: 0 0 0 40px !important;
}
.ysy-accredit-list .ant-list-item .ant-list-item-content{
  display: flex;
}
.ysy-accredit-list .ant-list-item-content-single{
  justify-content: center;
}
.ysy-accredit-card{
  width: 130px;
  height: 130px;
  border: 1px solid #e8e8e8;
  padding-top: 30px;
  text-align: center;
  position: relative;
}
.ysy-accredit-card:hover{
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0,0,0,.09);
  border-color: rgba(0,0,0,.09)
}
.ysy-triangle{
  width: 0px;
  height: 0px;
  border-top: solid 10px transparent;
  border-left: solid 10px red;
  border-bottom: solid 10px transparent;
  transform: rotate(45deg);
  position: absolute;
  bottom: -6px;
  right: -2px;
}
.ysy-triangle-disabled{
  border-left: solid 10px #d9d9d9;
}
.ysy-triangle:after{
  content: '\2713';
  position: absolute;
  right: 3px;
  bottom: -7px;
  color: #fff;
  font-size: 12px;
  transform: rotate(-45deg);
}
.editable-cell {
  position: relative;
}

.editable-cell .editable-cell-icon,
.editable-cell .editable-cell-icon-check {
  cursor: pointer;
}

.editable-cell .editable-cell-icon {
  line-height: 14px;
  position: absolute;
  margin-left: 16px;
  top: 50%;
  margin-top: -7px;
  display: none;
}
.editable-cell .editable-cell-icon-check{
  margin-left: 16px;
}

td:hover .editable-cell-icon {
  display: inline-block;
}

.editable-cell-icon:hover,
.editable-cell-icon-check:hover {
  color: #108ee9;
}
/* 
  子系统管理
*/
.subSystem{
  background: #ffffff;
}

/*通栏样式*/
.fullCol{
  position: relative;
}
.fullCol-fullChild{
  position: relative;
  top: -15px;
  margin-left: -33px;
  margin-right: -33px;
  background: #fff;
  margin-top: -17px;
  padding: 0 32px 32px;
}
.fullCol-fullChild::after{
  content: "";
  width:100%;
  position: absolute;
  left: 0;
  bottom:0;
  height:20px;
  background:#f0f2f5;
}
.button-gap{
  margin-right:8px;
}
.hr{
  height: 0 !important;
  border: none !important;
  border-top:1px solid #ddd !important;
  margin:20px 0 !important;
}