.logo {
  display: inline-block;
  vertical-align: middle;
  height: 32px;
}

.logoDesc {
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  margin: 0 0 0 12px;
  font-family: 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.logoWrapper {
  height: 64px;
  position: relative;
  background-color: #002140;
  line-height: 64px;
  padding-left: 24px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  overflow: hidden;
}

.right_content {
  border-left:  1px solid #e9e9e9;
  margin-left: -1px;
}

.ant-advanced-search-form {
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  margin-bottom: 6px;
}

.ant-advanced-search-form .ant-form-item {
  display: flex;
}

.ant-advanced-search-form .ant-row .ant-form-item {
  margin-bottom: 8px;
}

.ant-table-thead > tr > th{
  background: #f5f5f5 !important;
}

.ant-table-row:nth-child(even) > td {
  background-color: rgba(230, 230, 230, 0.4);
}

.contentWrapper {
  margin: 0 16px;
}

.content {
  padding: 24;
  background: #fff;
  min-height: 360px;
}

.ysynet-archives-modal {
  width: 80% !important;
}
.ysyenert-header-icon {
  padding: 20px;
  height: 100%;
  font-size: 20px;
}
.ysyenert-header-icon:hover {
  cursor: pointer;
}
.ysynet-collapsed:hover {
  background-color: #e6f7ff;
}

.ysynet-header {
  display: flex; 
  justify-content: space-between;
}

.ysynet-header-right {
  height: 100%;
  margin-right: 20px;
}

.ant-layout .ysynet-breadcrumb {
  background-color: #fff;
  margin: 2px 0;
  line-height: 3;
  padding: 0px 8px;
}
.ant-menu {
  user-select: none;
}
/*修改浮层list*/
.ant-popover .ant-popover-inner-content {
  padding: 0;
}

.ysynet-footer-link ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
}

.ysynet-footer-link ul li{
  float: left;
  padding: 5px 25px;
}

.ysynet-footer-link ul li a {
  float: left;
  padding: 5px 25px; 
  color: rgba(0, 0, 0, 0.45) !important;
}

.ysynet-footer-link ul li a:hover {
  color: rgba(0, 0, 0, 0.8) !important;
}

.ysynet-footer-copyright {
  margin-bottom: 16px;
  color: rgba(0, 0, 0, 0.45);
}

/* 删除登录页面tabs border-bottom */
.login .ant-tabs-bar {
  border-bottom: none;
}

/* 修改repair下 Card Title color */
.ysynet-repair .ant-card-head-title {
  color: rgba(0, 0, 0, 0.65)
}

/*回到顶部*/
.ant-back-top-inner {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 4px;
  background-color: #1088e9;
  color: #fff;
  text-align: center;
  font-size: 20px;
}

/* content 样式 */
.ysynet-content {
  margin: 6px 8px;
  height: calc(100% - 116px);
  overflow: hidden;
}

.ysynet-common-bgColor {
  background: #fff;
}

.min_card .ant-card-body {
  padding: 12px !important;
}

.ant-table-ellipsis {
  display: inline-block;
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-content {
  min-height: 480px;
  background: #fff;
  padding: 24px;
}

.col-padding {
  padding: 6px 0;
}

@-webkit-keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* content 侧滑动画 */
.fadeIn{
  animation: bounceInLeft 1s;
	animation-fill-mode: forwards;
}

.login_bg {
  width: 100vw;
  height: 100vh;
  background: url(./assets/login.jpg) no-repeat center center fixed;
  background-size: cover;
}
