.logo_text {
  font-family: Wawati SC;
  color: #fff;
  font-size: 28px;
  width: 100%;
  text-align: center;
  padding: 20px 0px;
}

.layout {
  background: #e8e8e8;
}

.content {
  min-height: calc(100vh - 129px);
  padding: 16px;
  margin-top: 16px;
  background: #fff;
}

.sider {
  width: 256px;
  height: 100vh;
}

.header {
  background: #fff;
  height: 58px;
  line-height: 58px;
  font-size: 16px;
}
.subHeader{
  height: 52px;
  background: #fff;
  line-height: 52px;
}