.logo_text {
  font-family: Wawati SC;
  color: #fff;
  font-size: 28px;
  width: 100%;
  text-align: center;
  padding: 20px 0px;
}

.layout {
  background: #e8e8e8;
}

.content {
  min-height: calc(100vh - 145px);
  padding: 16px;
  margin-top: 16px;
  background: #fff;
}

.sider {
  width: 256px;
  height: 100vh;
}
.triggerWrapp{
  position: fixed;
  bottom: 0;
  cursor: pointer;
  height: 48px;
  line-height: 48px;
  color: #fff;
  z-index: 1;
  padding-left: 30px;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.trigger{
  color: #f2a11c;
  font-size: 18px;
}
.header {
  background: #fff;
  height: 58px;
  line-height: 58px;
  font-size: 16px;
}
.subHeader{
  height: 52px;
  background: #fff;
  line-height: 52px;
  margin-left: -50px;
}

.icon:hover {
  cursor: pointer;
}
.profile{
  display: flex;
  justify-content: flex-end;
  margin-right: 16px;
}