.container{
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}
.ysy-Login-bg{
  background: url('../../assets/LoginBg.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.ysy-Login-form{
  width: 40%;
  height: 100%;
}
.ysy-Login-form-top{
  display: flex;
  justify-content: center;
  padding-top: 170px;
  padding-bottom: 36px;
}
.ysy-lgo{
  width: 120px;
  height: 45px;
  margin-right: 20px;
  display: inline-block;
  background: url('../../assets/aaa.png');
  background-size: 100% 100%
}
.ysy-login-logo{
  width: 120px;
  height: 45px;
  display: inline-block;
  background: url('../../assets/xiehe.png');
  background-size: 100% 100%;
}
.login-form-button {
  width: 100%;
}